{{taxa}}
<ul>
    <li>

    {{regra.codigo}}
    {{regra.exibir}}
    {{regra.limite}}
    {{regra.mult}}
    </li>
    {{#each regras as |regra|}}
    <li>
        {{regra.codigo}}
        {{regra.exibir}}
        {{regra.limite}}
        {{regra.mult}}
    </li>
    {{/each}}
</ul>