<h4>Fonte</h4>
{{input type="text" value=fonte placeholder="Nome" }} 
<button type="button" class="btn btn-default" {{action 'novaFonte'}} >SALVAR</button>
<h1>Novo</h1>
Casa {{input type="text" value=casa}}
Fora {{input type="text" value=fora}}
Campeonato {{input type="text" value=campeonato}}

Data {{input type="date" value=realizacao}}


<button type="button" class="btn btn-default" {{action 'novoEvento'}} >SALVAR</button>

<h3>Restricao</h3>
{{ model.restricao.id }}
{{ model.restricao.nome }}
<h1>Eventos</h1>
        {{model.banca.id}} {{model.banca.nome}}:
<ul>
    {{#each model.banca.painel as |jogo|}}
    <li>
        restricao: {{ jogo.restricao.nome }}
        {{jogo.evento.casa}} x {{jogo.evento.fora}}
        <br>taxas:
        {{#each jogo.cotacao.taxas as |cotacao|}}
            real -> {{cotacao.nome}} {{cotacao.taxa}}
            {{cotacao.nome}} {{sy-odd-item cotacao=cotacao regras=jogo.restricao.regras }} <br>
        {{/each}}
    </li>
    {{/each}}
</ul>
    
{{outlet}}