<h4>Fonte</h4>
{{input type="text" value=fonte placeholder="Nome" }} 
<button type="button" class="btn btn-default" {{action 'novaFonte'}} >SALVAR</button>
<h1>Novo</h1>
Casa {{input type="text" value=casa}}
Fora {{input type="text" value=fora}}
Campeonato {{input type="text" value=campeonato}}

Data {{input type="date" value=realizacao}}


<button type="button" class="btn btn-default" {{action 'novoEvento'}} >SALVAR</button>


<h1>Eventos</h1>
<ul>
    {{#each model as |painel| }}
    <li>
        {{painel.id}} {{painel.nome}}
<button type="button" {{action 'removerEvento' evento}} > REMOVER </button>
<ul>
    {{#each painel.jogos as |jogo|}}
    <li>
        {{jogo.casa}} x {{jogo.fora}}
    </li>
    {{/each}}
</ul>
    </li>
    {{/each}}
</ul>

{{outlet}}